-content_for :right do
	.title
		Selected App
	#Results
	#current_app
		#name.editable
		#app_type
		#app_key
		#ext_app_key.editable
		#ext_app_secret.editable
		#callback_url
		%image#app_image
		%a#app_test